@import "../../styles.scss";

.main-wrapper {
  padding-bottom: 10px;
}
.main {
  padding-top: 70px;
}
.menu {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.toolbar {
  justify-content: space-between;
  position: fixed;
  z-index: 2;
}

.dark-mode-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
