@import "../../styles.scss";
:host {
  .main-wrapper{
    padding-bottom: 10px;
  }
  .menu {
    display: flex;
    gap: 10px;
    cursor: pointer;
  }

  .toolbar {
    justify-content: space-between;
  }

  .active-link {
    color: lightblue;
  }

}
