<div class="main-wrapper">
  <mat-toolbar class="toolbar">
    <div class="menu">
      <span routerLink="/home" routerLinkActive="active-link">Home</span>
      <span routerLink="/flights-inspiration" routerLinkActive="active-link"
        >Flight</span
      >
    </div>
    <span class="dark-mode-wrapper">
      <mat-icon>brightness_5</mat-icon>
      <mat-slide-toggle
        [formControl]="darkCtrl"
      ></mat-slide-toggle>
      <mat-icon>bedtime</mat-icon>
    </span>
  </mat-toolbar>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
