@import "styles";
:host {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  .flight-card {
    min-width: 30%;
    margin: auto;
    @include xs {
      width: 98%;
    }
    @include sm {
      width: 94%;
    }
    @include md {
      width: 45%;
    }

    @include lg {
      width: 30%;
    }
  }
}
